.pricing-section{

padding:90px 0;

background:#F5F7FA;

}

.pricing-container{

width:90%;

max-width:1200px;

margin:auto;

text-align:center;

}

.pricing-container h2{

font-size:40px;

color:#0B6E4F;

margin-bottom:20px;

}

.pricing-description{

font-size:18px;

max-width:700px;

margin:auto;

margin-bottom:50px;

line-height:1.8;

color:#666;

}

.pricing-card{

max-width:500px;

margin:auto;

background:white;

padding:50px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.price-tag{

display:inline-block;

padding:8px 18px;

background:#F9A825;

border-radius:30px;

font-weight:bold;

margin-bottom:20px;

}

.pricing-card h1{

font-size:55px;

color:#0B6E4F;

margin-bottom:20px;

}

.pricing-card p{

margin-bottom:20px;

font-size:18px;

}

.pricing-card ul{

list-style:none;

padding:0;

margin-bottom:35px;

}

.pricing-card li{

margin:12px 0;

font-size:18px;

}

.pricing-btn{

display:inline-block;

padding:16px 35px;

background:#0B6E4F;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:bold;

transition:.3s;

}

.pricing-btn:hover{

background:#08513b;

}

@media(max-width:768px){

.pricing-card{

padding:35px 25px;

}

.pricing-container h2{

font-size:30px;

}

.pricing-card h1{

font-size:42px;

}

}