.gallery-section{

padding:90px 0;

background:white;

}

.gallery-container{

width:90%;

max-width:1300px;

margin:auto;

text-align:center;

}

.gallery-tag{

background:#F9A825;

padding:8px 18px;

border-radius:30px;

font-weight:bold;

}

.gallery-container h2{

font-size:42px;

margin:25px 0;

color:#0B6E4F;

}

.gallery-description{

max-width:700px;

margin:auto;

font-size:18px;

line-height:1.8;

margin-bottom:50px;

color:#666;

}

.gallery-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:20px;

}

.gallery-grid img{

width:100%;

height:250px;

object-fit:cover;

border-radius:15px;

transition:.4s;

cursor:pointer;

}

.gallery-grid img:hover{

transform:scale(1.05);

}

@media(max-width:768px){

.gallery-container h2{

font-size:30px;

}

.gallery-description{

font-size:16px;

}

.gallery-grid img{

height:220px;

}

}